*{
    font-family: Arial, Helvetica, sans-serif;
}

#bienvenida{
    margin-top: 25px;
    margin-bottom: 15px;
    color: orchid;
    font-size: 14px;
    font-weight: bolder;
    letter-spacing: 1px;
    word-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
}

.textoNavbar {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: LightSeaGreen;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: orchid !important;
}

.textoFooter {
    color: DimGray;
    font-size: 13px;
    font-weight: lighter;
}
